p {
    font-family: 'Mochiy Pop One', sans-serif;
}
h1, h2, h3, h4, h5, h6, ul, ol,li , p,a{
    font-family: 'meiryo';
}

#main #side a#now p {
    padding-top: 1px;
    padding-bottom: 1px;
}

#main-- {
    margin: 30px;
}
#main-- ul {
    padding-left: 18px;
}

#main-- > ul > li:nth-child(6) {
    list-style: none;
}

#main-- > ol {
    padding-left: 18px;
}

#main-- div.code {
    width: auto;
}
div.code {
    max-height: calc(100vh - 60px);
    /*max-width: auto;*/
    white-space: nowrap;
    /*overflow: scroll;*/
    overflow: auto;

}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
/*スクロールバーの軌道*/

/*::-webkit-scrollbar-track {
    border-radius: 10px;
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);*/
    /*background-color: transparent;*/
/*}*/

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
    background-color: #f1c40f;
    border-radius: 10px;
    /*box-shadow:0 0 0 1px rgba(255, 255, 255, .3);*/
}
