:root {
    --left-width: 250px;
    --left-margin: 10px;
    --left-padding: 10px;
    --scrollbar-width: 5px;
    --header-height: 50px;
    --main-color: #0099ff;
    --main-color: #252525;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}


* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
a,summary,p,h1,h2,h3,h4,h5,h6,ul,ol,li {
    /*font-family: 'Meiryo', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}


a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: #fff;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 2;
}
header h1 {
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    white-space: nowrap;
}
header > button.menu {
    width: 40px;
    height: 40px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-menu-2%22%20width%3D%2280%22%20height%3D%2280%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%222%22%20stroke%3D%22%23000000%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%226%22%20x2%3D%2220%22%20y2%3D%226%22%20%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%2212%22%20x2%3D%2220%22%20y2%3D%2212%22%20%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%2218%22%20x2%3D%2220%22%20y2%3D%2218%22%20%2F%3E%3C%2Fsvg%3E');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: relative;
    /*top: calc(var(--header-height) / 2 - 20px);*/
    top: 0px;
    /*left: calc(var(--left-width) + var(--left-margin));*/
    margin-left: 5px;
    cursor: pointer;
    background-color: #fff;
}


.search_box > input.search {
    padding-left: 10px;
    padding-right: 25px;
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--main-color);
}
.search_box > button.search_btn {
    margin-left: 5px;
    width: 35px;
    height: 34px;
    border-radius: 8px;
    border: 2px solid var(--main-color);
    background-color: #fff;
}
.search_box > button.search_btn > ion-icon {
    position: relative;
    top: 2px;
    color: var(--main-color);
}
.search_box > button.search_btn_delete {
    position: absolute;
    left: 153px;
    top: 7px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: #fff;
    opacity: 0;
    transition: all 0.3s;
}
:is(.search_box:hover) > button.search_btn_delete {
    opacity: 1;
}
.search_box > button.search_btn_delete > ion-icon {
    position: relative;
    top: 2px;
    color: var(--main-color);
}
.search_box > input.search {
    width: 130px;
    height: 30px;
}
.search_box {
    display: flex;
    position: relative;
    width: 220px;
    height: 30px;
    transition: all 0.5s;
    margin: var(--left-margin);
    padding-left: var(--left-padding);
}


div#main > div#left {
    width: var(--left-width);
    min-height: calc(100vh + 1px);
    color: #252525;
    overflow: auto;
    /*width: var(--main_left_width);*/
    /*min-height: 100vh;*/
    /*background-color: #1d1d1d;*/
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;   
    box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
}
div#main > div#right {
    position: fixed;
    top: var(--header-height);
    left: var(--left-width);
    width: calc(100% - var(--left-width));
    overflow: auto;
    height: 100%;
    /*transform: translateX(var(--left-width)),translateY(var(--header-height));*/
    /*transform: translate(var(--left-width),var(--header-height));*/
    /*min-height: 100vh;*/
    /*background-color: #1d1d1d;*/
}
/*div#main > div#right > #right-main {
    margin-left: 10px;
}*/


div#left a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 20px;
}
div#left summary {
    font-size: 20px;
}
div#left :is(ol > li,summary) {
    width: calc(100% - (var(--left-margin) * 2 + var(--left-padding)));
    height: 30px;
    padding-left: var(--left-padding);
    margin: var(--left-margin);
    transition: all 0.3s;
    border-radius: 5px;
}
div#left :is(details ol > li) {
    width: calc(100% - (var(--left-margin) * 2 + var(--left-padding)))
}
div#left :is(ol > li:hover,summary:hover) {
    background-color: #f0f0f0;
}




div#left ol {
    list-style: none;
}
summary {
    cursor: pointer;
}
details summary {
    list-style: none;
}
details > summary::after {
    content: "";
    display: none;
}
details > summary::before {
    content: "";
    display: none;
}
details > summary::marker {
    content: "";
    display: none;
}
details > summary::-webkit-details-marker {
    content: "";
    display: none;
}
details > summary::-moz-details-marker {
    content: "";
    display: none;
}
details summary::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: calc(var(--left-width) - (var(--left-margin) * 2 + var(--left-padding)) - 30px);
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-chevron-right%22%20width%3D%2280%22%20height%3D%2280%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%222%22%20stroke%3D%22%23252525%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpolyline%20points%3D%229%206%2015%2012%209%2018%22%20%2F%3E%3C%2Fsvg%3E');
    transition: all 0.3s ease;
}
details[open] > summary::after {
    /*background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-chevron-down%22%20width%3D%2280%22%20height%3D%2280%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23000000%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%20%2F%3E%3C%2Fsvg%3E');*/
    transform: rotate(90deg);
}
details > ol {
    margin-left: 20px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s linear;
}
details[open] > ol {
    opacity: 1;
    max-height: var(--height);
}


@media screen and (max-width: 650px) {
    div#main > div#left {
        display: block;
        /*position: absolute;*/
        /*top: 0;*/
        left: 0;
        z-index: 1;
        background: #fff;
        /*transition: all 0.4s cubic-bezier(0, 0, 0, 1.31);*/
        transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        transform: translateX(calc(var(--left-width) * -1));
    }
    div#main > div#left.open {
        transform: translateX(0);
    }
    div#main > div#right {
        left: 0;
        width: 100%;
    }
}
@media screen and (min-width: 650px) {
    #main > header > button.menu {
        display: none;
    }
}

div#right-main > h1 {
    margin: 20px;
}

.code pre code {
    background-color: #f7f8fa;
    border-radius: 10px;
}
.code {
    background-color: #f7f8fa;
    border-radius: 10px;
    margin: 1em;
}

.code > div {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

#right-main {
    margin: 0 auto;
    max-width: 850px;
}
#right-main > #right-main-main {
    margin: 0 25px;
    margin-bottom: 100px;
}